version: 2.1
orbs:
  node: circleci/node@4.1.0
  aws-cli: circleci/aws-cli@1.3.1
jobs:
  build:
    docker:
      - image: "cimg/base:stable"
    steps:
      - node/install:
          install-yarn: false
          node-version: '14.17.6'
      - checkout
      - aws-cli/setup:
          aws-access-key-id: AWS_ACCESS_KEY_ID
          aws-region: AWS_REGION_S3
          aws-secret-access-key: AWS_SECRET_ACCESS_KEY

      - run:
          name: Front-End Install
          command: |
            npm run install:Frontend
      - run:
          name: Front-End Build
          command: |
            npm run build:Frontend
      - run:
          name: Deploy App
          command: |
            aws s3 cp --recursive --acl public-read udagram-frontend-ready/src s3://udagram-test001/
