version: 2.1
orbs:
  node: circleci/node@4.1.0
  aws-cli: circleci/aws-cli@1.3.1
jobs:
  build:
    docker:
      - image: "cimg/base:stable"
    steps:
      - node/install:
          install-yarn: false
          node-version: '14.17.6'
      - checkout
      - aws-cli/setup:
          aws-access-key-id: AWS_ACCESS_KEY_ID
          aws-region: AWS_REGION_S3
          aws-secret-access-key: AWS_SECRET_ACCESS_KEY

      - run:
          name: Front-End Install
          command: |
            npm run install:Frontend
      - run:
          name: Deploy App
          command: |
            npm run deploy:Frontend
            aws s3 cp --recursive --acl public-read udagram-frontend-ready/src s3://udagram-test001/

# version: 2.1
# orbs:
#   # orgs contain basc recipes and reproducible actions (install node, aws, etc.)
#   node: circleci/node@4.1.0
#   aws-cli: circleci/aws-cli@1.3.1
#   eb: circleci/aws-elastic-beanstalk@2.0.1
#   aws-s3: circleci/aws-s3@3.0.0
#   browser-tools: circleci/browser-tools@1.2.2
#   # different jobs are calles later in the workflows sections
# jobs:
#   build:
#     working_directory: ~/repo
#     docker:
#       # the base image can run most needed actions with orbs
#       # - image: cimg/node:14.18.2-browsers
#       - image: "cimg/base:stable"
#     steps:
#       - node/install
#       # - browser-tools/install-chrome
#       # - browser-tools/install-chromedriver
#       - checkout
#       - aws-cli/setup
#       # - eb/setup
#       # install dependencies in both apps
#       - run:
#           name: Front-End Install
#           command: |
#             npm run install:Frontend
#       # - run:
#       #     name: Front-End Build
#       #     command: |
#       #       npm run build:Frontend
#       - run:
#           name: Front-End Deploy
#           command: |
#             npm run deploy:Frontend