version: 2.1
orbs:
  # orgs contain basc recipes and reproducible actions (install node, aws, etc.)
  node: circleci/node@4.1.0
  aws-cli: circleci/aws-cli@1.3.1
  browser-tools: circleci/browser-tools@1.2.2
  # different jobs are calles later in the workflows sections
jobs:
  build:
    docker:
      # the base image can run most needed actions with orbs
      # - image: "cimg/base:stable"
      - image: cimg/node:14.18.2-browsers
    steps:
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - checkout
      # install dependencies in both apps
      - run:
          name: Front-End Install
          command: |
            npm run install:Frontend
      - run:
          name: Front-End Build
          command: |
            npm run build:Frontend
      - run:
          name: Back-End Install
          command: |
            npm run install:API
      - run:
          name: Back-End Build
          command: |
            npm run build:API
      - run:
          name: Front-End test
          command: |
            npm run test:Frontend
      - run:
          name: hello
          command: |
            echo "hello-world"

workflows:
  pipeline:
    jobs:
      - build:
          filters:
            branches:
              only: master